.bdy{
    background-color: rgb(232, 226, 226);
    height:330px;
    width:100%;
}
.bdy h1{
    padding-left: 180px;
    padding-top: 50px;
    font-weight: lighter;
    font-size: 70px;
}

.bdy p{
    font-size: 15px;
    padding-left: 180px;
}

.bdy button{
    margin-left: 180px;
}